[submodule "Basic_Website"]
	path = FrontEnd/Basic_Website
	url = https://github.com/Eros628/Basic_Website.git
[submodule "FrontEnd/Single_Page_CV"]
	path = FrontEnd/Single_Page_CV
	url = https://github.com/Eros628/Single_Page_CV.git
[submodule "FrontEnd/Change_log"]
	path = FrontEnd/Change_log
	url = https://github.com/Eros628/Change_log.git
[submodule "Testemonial_cards"]
	path = Testemonial_cards
	url = https://github.com/Eros628/Testemonial_cards.git
