@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kiwi+Maru&display=swap');

:root{
    --bg-color: #FFFFFF;
    --header-text-color: #0D062D;
    --text-color: #787486;
    --surface-color: #F5F5F5;
}

*{
    font-family: "Inter";
    font-weight: 500;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-color);
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 250px 2fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}


header{
    position: sticky;
    top: 0;
    grid-row: 1/1;
    grid-column: 1/3;
    display: flex;
    height: 70px;
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    background-color: var(--bg-color);

}

.header-main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 290px;
    padding-right: 30px;
}

.right-section-header{
    display: flex;
    align-items: center;
    gap: 50px;
}

.search-bar-container{  
    flex: 1;
    max-width: 400px;
    border: 1px solid var(--text-color);
    background-color: var(--surface-color);
    padding: 10px 20px 10px 10px;
    display: flex;
    border-radius: 6px;
    gap: 20px;
}   

.search-bar-container input{
    border: 0;
    width: 100%;
    background-color: var(--surface-color);
    color: var(--text-color);
}


.search-bar-container input:focus{
    outline: none;
    border: 0;
}
.icons-header{
    display: flex;
    gap: 20px;
}

.profile-container{
    display: flex;
    gap: 22px;
}

.name-container p:nth-child(1){
    font-size: 16px;
    color: var(--header-text-color);
}

.name-container p:nth-child(2){
    font-size: 14px;
    color: var(--text-color);
    text-align: end;
}

.profile-pic-container{
    display: flex;
    gap: 15px;
    align-items: center;
}

.profile-container img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.profile-container svg{
    width: 24px;
    height: 24px;
}

.sidebar{
    position: sticky;
    top: 0;
    grid-column: 1/1;
    grid-row: 1/3;
    display: flex;
    border-right: 1px solid var(--text-color);
    flex-direction: column;
    padding-left: 22px;
    padding-right: 22px; 
    gap: 25px;
    height: 100vh;
}




.sidebar nav{
    display: flex;
    font-size: 14px;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--text-color);
}


.sidebar nav a{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    gap: 10px;
}

.my-projects{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 10px;
}

.my-projects div:nth-child(1){
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bolder;
    color: var(--text-color);
}

.my-projects div:nth-child(1) button{
   padding: 1px 6px;
   background-color: var(--bg-color);
   border: 1px solid var(--text-color);
   color: var(--text-color);
   text-align: center;
   border-radius: 5px;
}

.my-projects div:nth-child(2) ul li:hover{
    cursor: pointer;
    color: var(--header-text-color);
    background-color: rgba(81, 48, 229, 0.13);
}

.my-projects div:nth-child(2) ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-projects div:nth-child(2) ul li{
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    color: var(--text-color);
    list-style-position: inside;
}

.my-projects div:nth-child(2) > ul li:nth-child(1)::marker{
    color: #7AC555;
}

.my-projects div:nth-child(2) > ul li:nth-child(2)::marker{
    color: #FFA500;
}
.my-projects div:nth-child(2) > ul li:nth-child(3)::marker{
    color: #E4CCFD;
}
.my-projects div:nth-child(2) > ul li:nth-child(4)::marker{
    color: #76A5EA;
}

.comment-section{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--surface-color);
    border-radius: 25px;
    padding: 30px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
}

.comment-section input{
    border: 0;
    outline: none;
    padding: 10px;
    color: black;
    background-color: var(--bg-color);
}

.comment-section input::placeholder{
    color: black;
    text-align: center;
}
.light-buld-container{
    position: absolute;
    padding: 12px;
    top: -20px;
    right: 80px;
    border-radius: 20px;
    background-color: var(--surface-color);
}

.logo-container{
    display: flex;  
    width: 100%;
    padding-top: 10px;
    height: 60px;
    align-items: center;
    gap: 10px;

}

.logo-container h2{
    font-size: 20px;
    color: var(--header-text-color);
    font-weight: 500;
}

.switch{
    position: relative;
    width: 40px;
    height: 25px;  
    cursor: pointer;
}

.switch input{
    border: 0;
    outline: none;
    appearance: none;
}
.switch-circle{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0px 1px 2px 1px rgb(199, 197, 197);
    background-color: gainsboro;

}
.switch-circle::after{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 1px;
    height: 21px;
    width: 21px;
    border-radius: 25px;
    background-color: var(--bg-color);
    transition:ease-in-out all 0.3s;
}

.switch input:checked + .switch-circle::after{
    transform: translateX(15px);
    background-color: #1d1738
}

.switch input:checked + .switch-circle{
    background-color: #474552;
    box-shadow: inset 1px 1px 2px 1px rgb(231, 230, 230);
}



main{
   grid-row: 2/2;
   grid-column: 2/2;
   display: flex;
   flex-direction: column;
   padding: 40px;
   gap: 40px;
   overflow-y: scroll;
}

.hero-section{
    display: flex;
    flex-direction:column;
    gap: 40px;
}

.row1-hero-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}



.row1-hero-section div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 13px;
}

.row1-hero-section > div:nth-child(1) > div {
    padding: 5px;
    background-color: rgba(81, 48, 229, 0.13);
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.row1-hero-section > div:nth-child(1) > div > svg{
    width: 15px;
    height: 15px;
}

.row1-hero-section div:nth-child(1) h1{
    font-size: 46px;
    font-weight: bold;
    color: #0D062D;
}

.row1-hero-section > div:nth-child(2) > div:nth-child(1) > button  svg{
    width: 15px;
    height: 15px;
}

.row1-hero-section > div:nth-child(2) > div:nth-child(1) > button{
    padding: 4px;
    display: flex;
    align-items: center;
    background-color: rgba(81, 48, 229, 0.13);
    border: none;
    border-radius: 5px;
}

.row1-hero-section > div:nth-child(2){
    display: flex;
    gap: 25px;
    align-items: center;
}

.row1-hero-section > div:nth-child(2) p {
    color: #5030E5;
    font-size: 14px;
}

.vertical-line{
    height: 20px;
    width: 5px;
    border-left: 2px solid #787486;
}

.row2-hero-section > div:nth-child(2){
    display: flex;
    gap: 20px;
}

.row2-hero-section > div > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    background-color: var(--surface-color);
    color: var(--text-color);
    font-weight: bold;
}

.row2-hero-section{
    display: flex;
    justify-content: space-between;
}

.row2-hero-section > div:nth-child(2) > .double-line-btn{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    padding: 12px;
    border: none;
    gap: 2px;
    background-color: #5030E5;
}

.row2-hero-section > div:nth-child(2) > .double-line-btn span{
    display: inline-block;
    flex-direction: row;
    border-radius: 20px;

    height: 5px;
    width: 15px;
    background-color: white;
}


.row2-hero-section > div{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}
.list-image-container{
   display: flex;
}

.list-image-container img{
    height: 38px;
    width: 38px;
    border-radius: 50px;
    margin-left: -10px;
}

.list-image-container img:nth-child(1){
    margin-left: 0;
}


.list-cards-container{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 20px;
  
}

.card{
    flex: 1;
    width: 200px;
    background-color: var(--surface-color);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.card .upper-section{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 20px;
}

.card.one .upper-section{
    border-bottom: 2px solid #5030E5;
}

.card.one .upper-section ul li::marker{
    color: #5030E5;
}

.card.two .upper-section{
    border-bottom: 2px solid #FFA500;
}

.card.two .upper-section ul li::marker{
    color: #FFA500;
}

.card.three .upper-section{
    border-bottom: 2px solid #8BC48A;
}

.card.three .upper-section ul li::marker{
    color: #8BC48A;
}

.card .upper-section button{
    display: flex;
    padding: 5px;
    border-radius: 7px;
    align-items: center;
    border: none;
    background-color: rgba(81, 48, 229, 0.13);
}

.card .upper-section svg {
    height: 15px;
    width: 15px;
}

.card .lower-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

.card .upper-section ul + p {
    height: fit-content;
    font-size: 12px;
    padding: 1px 4px;
    border-radius: 20px;
    background-color: #DBDBDB;
    margin-right: auto;
}

.card .upper-section ul li{
    list-style-position: inside;
}

.pop-up{
    position: absolute;
    top: 20%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    width: 300px;
    height: 300px;
    box-shadow: 1px 2px 5px 2px var(--header-text-color);
    background-color: var(--surface-color);
    border-radius: 20px;
}


.pop-up div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pop-up h1{
    color: var(--header-text-color);
    font-weight: bold;
}

.pop-up p{
    color: #474552;
}

.pop-up svg{
    width: 50px;
    height: 50px;
}
.btn{
    cursor: pointer;   
    padding: 10px 30px;
    border: 1px solid var(--text-color);
    background-color: var(--surface-color);
    border-radius: 10px;
}

.btn:hover{
    background-color: var(--header-text-color);
    color: var(--bg-color);
}