*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main{
    width: 50%;
    height: fit-content;
    gap: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
}


.nav-section{
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.nav-section p{
    cursor: pointer;
    padding: 5px;
    border-bottom: none;
}



.tab{
    display: none;
}

.tab p{
    text-align: justify;
}

.first.tab{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box{
    height: 120px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.second.tab{
    display: none;
    flex-direction: column;
    gap: 20px;
}


.third.tab{
    display: none;
    flex-direction: column;
    gap: 20px;
}

.fourth.tab{
    display: none;
    flex-direction: column;
    gap: 20px;
}

.third.tab .box{
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.grid{
    height: 100%;   
    width: 100%;
    border-radius: 5px;
}

.grid.item1{
     background-color: rgb(224, 212, 32);
    grid-column:  1/3;
    grid-row: 1/1;
}

.grid.item2{
    background-color: green;
    grid-column:  1/1;
    grid-row: 2/2;
}

.grid.item3{
    background-color: black;
    grid-column: 2/2;
    grid-row: 2/2;
}

.grid.item4{
    background-color: blue;
    grid-column: 3/3;
    grid-row: 1/3;
}

